body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-size: 1.2em;
}
.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.isScore {
  position: fixed;
  top: 0;
  right: 10px;
  font-size: 0.7em;
}
.isAnswer::before {
  display: inline-block;
  content: "";
  width: 15px;
  height:15px;
}
.isAnswer:first-child {
  background-image: url("svg/correct.svg");
  background-repeat: no-repeat;
}
.isAnswer:nth-child(2) {
  background-image: url("svg/wrong.svg");
  background-repeat: no-repeat;
}
header {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 10px;
}
h1 {
  font-size: 1.5em;
  margin: 20px 10px 10px 10px;
}
p {
  margin: 10px;
}
.chapter {
  text-align: center;
  font-size: 1.5em;
}
.numberOfQuestion {
  margin-top: 10px;
  font-size: 0.8em;
  color: grey;
  text-align: center;
}
.isQuestion {
  font-weight: bolder;
  margin-bottom: 10px;
}
.x71, .x72 {
  padding-left: 10px;
}
.x71::before {
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 5px;
  height: 5px;
  margin-top: 10px;
  content: "";
  background-color: grey;
}
.x71:hover, .x72:hover {
  cursor: pointer;
}
.x72 {
  border: 2px solid white;
}
.x72:active {
  border-color: red;
}
.isTrue:active {
  border-color: green;
}
footer {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 10px;
}
